.about {
  text-align: center;
  padding: 80px 20px;
}

.about h2 {
  color: #2563eb;
  font-size: 40px;
}

.about p {
  max-width: 800px;
  margin: 20px auto;
  font-size: 20px;
  line-height: 1.6;
}